<div class="filter-row" id="row-{{ index }}">
    <div>
        {% if index == 0 %}
        <label for="label_{{ index }}">Label</label>
        {% endif %}
        <input type="text" name="label_{{ index }}" id="label_{{ index }}"
               value="{{ label_val|default:'' }}"
               placeholder="e.g. tumor"
               hx-get="."
               hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
               hx-target="#filter-results"
               hx-include="closest form"
               hx-swap="outerHTML show:none"
               hx-replace-url="true">
    </div>

    <div>
        {% if index == 0 %}
        <label for="min_{{ index }}">Min score</label>
        {% endif %}
        <input type="number" step="0.01" min="0" max="1" name="min_{{ index }}" id="min_{{ index }}"
               value="{{ min_val|default:'' }}"
               placeholder="0.0"
               hx-get="."
               hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
               hx-target="#filter-results"
               hx-include="closest form"
               hx-swap="outerHTML show:none"
               hx-replace-url="true">
    </div>

    <div>
        {% if index == 0 %}
        <label for="max_{{ index }}">Max score</label>
        {% endif %}
        <input type="number" step="0.01" min="0" max="1" name="max_{{ index }}" id="max_{{ index }}"
               value="{{ max_val|default:'' }}"
               placeholder="1.0"
               hx-get="."
               hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
               hx-target="#filter-results"
               hx-include="closest form"
               hx-swap="outerHTML show:none"
               hx-replace-url="true">
    </div>

    {% if index < 4 %}
    <div>
        {% if index == 0 %}
        <label class="spacer">Spacer</label>
        {% endif %}
        <button type="button"
                hx-get="{% url 'add-filter-row' %}?current_index={{ index }}"
                hx-target="closest .filter-row"
                hx-swap="afterend">
            +OR
        </button>
    </div>

    {% endif %}
</div>