{% extends 'core/base.html' %}

{% block content %}
<article>
    {% include "_tab_header.html" %}
    {% include "_page_nav.html" %}
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Classifications</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in submissions %}
            <tr>
                <td><img src={{ obj.image.image_base64 }}
                         alt="Uploaded Image"
                         style="max-width: 100%; border: 1px solid #ddd; border-radius: 4px;"></td>
                <td>{{ obj.scores_str|safe }}</td>
                {% empty %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "_page_nav.html" %}
</article>
{% endblock %}
