{% extends 'core/base.html' %}

{% block content %}
<article>
    {% include "_tab_header.html" %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if result %}
            <table>
                <thead><tr>
                    <th>Uploaded Image</th>
                    <th>Classifications</th>
                </tr></thead>
                <tbody>
                    <tr>
                        <td><img src={{ thumbnail }}
                             alt="Uploaded Image"
                             style="max-width: 100%; border: 1px solid #ddd; border-radius: 4px;"></td>
                        <td>{{ result|safe }}</td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
        {{ form.as_p }}
        <button type="submit">Analyze Image (2.5 MB max)</button>
    </form>
</article>
{% endblock %}
