{% extends 'core/base.html' %}

{% block content %}
<article>
    {% include "_tab_header.html" %}
    <form class=border method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if result %}
            <table>
                <thead><tr>
                    <th>Uploaded Image</th>
                    <th>Classifications</th>
                    <th>Expected</th>
                </tr></thead>
                <tbody>
                    <tr>
                        <td><img src="data:image/jpeg;base64,{{ thumbnail }}"
                             alt="Uploaded Image" class="thumbnail"></td>
                        <td>{{ result|safe }}</td>
                        <td>{{ expected_label }}</td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
        {{ form.as_p }}
        <button type="submit">Analyze Image (2.5 MB max)</button>
    </form>
</article>
{% endblock %}
