name: Remote Build and Deploy

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Execute Remote Build via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_DNS }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /opt/digital-pathology-demo
            
            # Pull latest code
            sudo git pull origin master
            
            # Restart containers
            docker-compose up -d            
            
            # Delete dangling images
            docker image prune -f